* {
    box-sizing: border-box;
}

body {
    margin: 1em;
    background-image: url(backg.jpg);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    background-color: white;
    width: 80vw;
    margin: 0 auto;
    height: 170vh;
}

.header {
    position: relative;
    display: flex;
    grid-column: 1/5;
    box-shadow: 5px 5px 0 2px rgba(69, 69, 69, 0.062);
    width: auto;
    height: 80px;
}

.header>h1 {
    text-transform: lowercase;
    color: yellowgreen;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    padding-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .span {
    position: relative;
    text-transform: lowercase;
    color: rgba(128, 128, 128, 0.315);
    left: 55%;
    top: 15px;
}

.navigation {
    font-size: 15px;
    grid-column: 1/5;
}

.navigation>img {
    box-sizing: border-box;
    width: 95.8%;
}

.navigation>a {
    text-decoration: none;
    padding-left: 50px;
}

.body {
    top: -30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    text-transform: uppercase;
    width: 80vw;
    padding: 10px;
    height: 1000px;
}

.body .par1 .a {
    color: greenyellow;
    text-decoration: none;
}

.body .par2 .a {
    color: greenyellow;
    text-decoration: none;
}

.body .par1 {
    position: relative;
    border-right: 1px dotted rgba(0, 0, 0, 0.171);
    padding: 10px;
}

.body .par1>h2 {
    color: rgb(0, 0, 116);
}

.body .par2 {
    padding: 10px;
}

.body .par2>h2 {
    color: orangered;
}
